/*
|--------------------------------------------------------------------------
| footer
|--------------------------------------------------------------------------
*/

.footer {
    text-align: center;
    padding: 2rem 0;
    outline: 1px solid red;
}
