/*
|--------------------------------------------------------------------------
| services
|--------------------------------------------------------------------------
*/

.services {
    position: relative;
    background: url("../img/general/wave_2.svg") bottom right 10% no-repeat;
    background-size: 55%;

    @include media-breakpoint-down(sm) {
        background-size: contain;
    }

    &__img {
        display: inline-block;
        width: 52vh;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &__item {
        @include rem('margin-bottom', 7px);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-header {
        @include rem('font-size', 18px);
        font-weight: 500;
        cursor: pointer;

        &[aria-expanded='true'] {
            @include rem('font-size', 24px);
            color: $blue;

            @include media-breakpoint-down(xs) {
                @include rem('font-size', 20px);
            }
        }
    }

    &__item-body {
        max-width: 380px;
    }
}
